#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	font-family:arial, sans-serif;
}

body {
	background-color: #EDEBE8;

}

a {
	color: #777;
	text-decoration: none;
	-webkit-transition: color ease-in 0.1s;
	-moz-transition: color ease-in 0.1s;
	transition:  color ease-in 0.1s;
}


header {
	height: 50px;
	text-align: center;
}


header nav {
float: right;
margin: 10px 50px 0 0;
}

header nav ul li {
  float: left;
  margin-left: 25px;
}

header nav ul li a {
  font-size: 16px;
}

a:hover {
	color: #20B2AA;
}

section {
	 width: 603px;
	 float: left;
	 padding: 15px;
	 margin-top: 15px;
	 margin-right: 15px;
	 background-color:#F2F2F2;
	 border: 1px solid #DEDCD9;
	 border-radius: 5px;
	 margin-bottom: 10px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}

section {
min-height: 100%;
}

a {
  text-decoration: none;
}

li {
 list-style-type: none;
}

h1, h2, h3, a {
font-family: 'Roboto', sans-serif;
font-weight: 500;
color: #494949;
text-transform: uppercase;
}

h2 {
color: #5d7177
}

h3 {
  font-size: 40px;
  padding-top: 8%;
  margin-bottom: 5px;
}

h4 {
  font-family: 'Roboto Slap', serif;
  color: #494949;
}

hr {
  width: 2000px;
  height: 4px;
  background: #494949;
  border: 0;
  margin: 0 auto 40px auto;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

img ,li ,#logo,  .fa-bars {
transition: all 300ms;
-webkit-transition: all 300ms;
-moz-transition: all 300ms;
}
.fa-bars {display: none;}
/*HEADER************************************************************/
header {
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  background: #eee;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.white{
    color: #222
}

.white:hover {
  color: #D8D8D8
}

#Home h1 {
  margin: 240px auto 0 auto;
  font-size: 110px;
}

#Home h2 {
margin: 0 auto 0 auto;
font-size: 25px;
}

.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
	  margin: 0 auto;
  width: 320px;
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

body{
	background: #f4f6f8
}

.wrapper {
 display: block;
 position: absolute;
 top: 50%;
 left:50%;
 -webkit-transform: translate(-50%,-50%);
}

h1 a {
 color: #222;
 font-size: 2em;
 text-decoration: none;
 display: inline-block;
 position: relative;
 font-family: 'Dosis', sans-serif;
}

/*effect-underline*/
a.effect-underline:after {
 content: '';
 position: absolute;
 left: 0;
 display: inline-block;
 height: 1em;
 width: 100%;
 border-bottom: 1px solid;
 margin-top: 10px;
 opacity: 0;
 -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
 transition: opacity 0.35s, transform 0.35s;
 -webkit-transform: scale(0,1);
 transform: scale(0,1);
}

a.effect-underline:hover:after {
 opacity: 1;
 -webkit-transform: scale(1);
 transform: scale(1);
}

footer {
	 background-color: #f4f6f8;
	 border-radius: 5px;
	 clear:both;
}

footer ul {
	float:left;
	list-style: none;
	padding: 0px;
	margin: 20px;
}

footer li {
	margin-right:15px;
	display: inline;
}

footer p {
	text-align:right;
	margin-right: 20px;
	color: #777;
}

p {
	text-align:none;
	margin-right: 20px;
	color: #777;
}



.glow-on-hover {
    width: 220px;
    height: 50px;
		color: #fff;
		background: #111;
		cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px
}

.glo-on-hover {
    width: 300px;
    height: 80px;
		color: #222;
		background: #f4f6f8;
		cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 6px
}

.glo-on-hover:hover {
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}


* {
  margin: 0;
  padding: 0;
}


div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30%;
}

.effect1 {
  color: #222;
  text-decoration: none;
  font-family: sans-serif;
  position: relative;
  padding: 10px 50px 10px 20px;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;

  -webkit-transform: scale(3);

      -ms-transform: scale(3);

          transform: scale(2); /*change scale(3) to scale(1)*/
}

.effect1 .bg {
  background: #222;
  width: 30px;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  z-index: -1;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.effect1:hover {
  padding-right: 20px;
  color: #fff;
}

.effect1:hover .bg {
  height: 90%;
  width: 100%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.effect1 .bg:before, .effect1 .bg:after {
  content: '';
  height: 2px;
  width: 10px;
  background: #222;
  position: absolute;
  right: -2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.effect1 .bg:before {
  bottom: 3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.effect1 .bg:after{
  top: 3px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.effect1:hover .bg:before,
.effect1:hover .bg:after{
  right: 0;
}

.effect1:hover .bg:before{
  bottom: 6px;
}

.effect1:hover .bg:after{
  top: 6px;
}
